@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);




.actorcardscontainer {
  margin-bottom: 100px;
  margin-top: 200px;
}

.moviecard {
  margin-bottom: 40px;
  margin-top: 40px;
  border-color: transparent;

}

.upcomingslidercontainer {
  margin-bottom: 200px;
  margin-top: 200px;
}
.theaterslidercontainer {
  margin-bottom: 200px;
  margin-top: 200px;
}




