.App {
  text-align: center;
}


.actorcardscontainer {
  margin-bottom: 100px;
  margin-top: 200px;
}

.moviecard {
  margin-bottom: 40px;
  margin-top: 40px;
  border-color: transparent;
  height: 600px;
  width: 300px;



}

