:root {
  --primary-color: #FF6F61;
  --secondary-color: #616247;
  --dark-color: #616247;
  --light-color: #F0EDE5;
  --info-color: #B7855F;
  --trans: all 600ms;
}

.btn-info {
background-color: #B7855F;
color:#B7855F;
border-color: #B7855F;
}
 
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
 
background-color: #B7855F;
color:#B7855F;
border-color: #B7855F;
}

.App {
  text-align: center;
  background-color: #000C0B;
}

h2{
  margin-top: 50px;
  color: #B7855F;
  font-size: 55px;
  font-family: 'Fascinate Inline', cursive;
}
.fond-foot {
  background-color: black;
  color:white;
}

.cardimage, .posterfolio, .trendscol {
  border-radius: 15px;
}

.moviecard, .actorcard {
  margin-bottom: 40px;
  margin-top: 40px;
  border-color: transparent;
  background-color: transparent;
  }

.actorname {
  color: #B7855F;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}

.upcomingslidercontainer,.theaterslidercontainer, .trendsportfolio, .actordeckcontainer {
  margin-bottom: 200px;
  margin-top: 50px;
  border-radius: 15px;
}
.card-essai {
  height: 30%;
  background-color: transparent;
  border-color: transparent;
}
.f-dis {
  color:#B7855F;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}
.f-diss {
  color:#B7855F;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}
.myNavEx {
  color: orange;
  background-color: pink;
}